<!DOCTYPE html>
<%!
    def proc(s):
        if '编译错' in s:
            return 'CE'
        elif '答案错' in s:
            return 'WA'
        elif '格式' in s:
            return 'PE'
        elif '时间' in s:
            return 'TLE'
        elif '内存' in s:
            return 'MLE'
        elif '输出' in s:
            return 'OLE'
        elif '正确' in s:
            return 'AC'
        elif '运行错' in s:
            return 'RE'
        elif '等' in s:
            return 'WAIT'
        elif '中' in s:
            return 'COMP'
        elif '运行并' in s:
            return 'RUNN'
        else:
            return 'WTF'
    
    def real(code):
        a,b,c=code.partition('****************************************************************/')
        return c if b else a
%>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bridge</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <script src="/static/bootstrap/js/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .text-primary {
            font-weight: bold;
        }
        .result-AC {color: green;}
        .result-WA, .result-RE, .result-PE {color: red;}
        .result-TLE, .result-MLE, .result-OLE {color: purple;}
        .result-CE {color: #048;}
        .result-WAIT, .result-COMP, .result-RUNN, .result-WTF {color: black;}
    </style>
</head>
<body><div class="container">
    <br>
    <form method="get" action="/problem" target="_blank">
        <div class="input-group">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-plus"></span>
                &nbsp;做题
            </span>
            <input type="number" name="probid" placeholder="题号" class="form-control" autofocus required>
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">查看题目</button>
            </span>
        </div>
    </form>
    <br>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>提交时间</th>
                <th>Submission ID</th>
                <th>用户名</th>
                <th>题号</th>
                <th>状态</th>
                <th>代码长度</th>
            </tr>
        </thead>
        <tbody>
            % for submit in submits:
                <tr onclick="location.href='/detail/${submit['subid']|u}'">
                    <td>${submit['time']|h}</td>
                    <td>${submit['hustid']|h}</td>
                    <td class="${'text-primary' if submit['username']==username else ''}">${submit['username']|h}</td>
                    <td>${submit['probid']|h}</td>
                    <td class="result-${proc(submit['status'])}">${submit['status']|h}</td>
                    <td>${len(real(submit['source']))} 字节， ${real(submit['source']).count('\n')+1} 行</td>
                </tr>
            % endfor
        </tbody>
    </table>
    <br>
    <span class="pull-right">
        <span class="glyphicon glyphicon-user"></span>&nbsp;${username|h}&nbsp;
        <a href="/passwd" class="btn btn-link">修改密码</a>
        <a href="/logout" class="btn btn-link">注销</a>
    </span>
</div></body>
</html>